* {
  margin: 0;
  padding: 0;
}
#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.4; /* optional, for better readability */
}
.listDesign {
  text-align: center;
  margin: 10vh 60vh;
  padding: 2vh;
  /* border: 2px solid red; */
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}
.listDesign .title {
  font-size: 8vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inputBox input {
  height: 5vh;
  width: 40vh;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}
.inputBox button {
  margin-left: 1vh;
  padding: 1vh 4vh;
  border: transparent;
  background-color: #1877f2;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.inputBox button:hover {
  background-color: #20c997;
  color: rgb(5, 5, 5);
}
.listShow {
  /* border: 5px solid purple; */
  margin-top: 2vh;
  display: flex;
  align-items: center;
  text-align: left;
  /* justify-content: center; */
  flex-direction: column;
  overflow-y: auto;
  /* border: 2px solid red; */
  height: 302px;
  gap: 2vh; /* space between each task item */
  scrollbar-width: thin;
  scrollbar-color: rgba(108, 106, 106, 0.4) transparent;
}
/* ----- scroll starting style ----- */

.listShow::-webkit-scrollbar {
  width: 8px;
}

.listShow::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* transparent base */
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.listShow::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); /* semi white thumb */
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
}

.listShow::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* ----- scroll ending style ----- */
.listShow .taskItem {
  /* border: 2px solid orangered; */
  display: flex;
}
.listShow .taskItem h4 {
  padding: 1vh 3vh;
  /* border: 2px solid black; */
  border-bottom: 1px solid black;
  /* width: 45vh; */
  max-width: 40vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-width 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.taskItem h4:hover {
  /* background-color: red; */
  transition: 1.1s;
  max-width: 70vh;
  white-space: normal;
}
.taskItem button {
  margin-left: 1vh;
  padding: 1vh 3vh;
  background-color: transparent;
  border: transparent;
  border-radius: 6px;
  background-color: rgba(67, 67, 81, 0.53);
  color: white;
  transition: 0.3s ease-in-out;
}
.taskItem button:hover {
  background-color: red;
}
